*{
  margin: 0; padding: 0; border: 0;
}

body{
  background-color: red;
}
header {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header img {
  width: 100px;
  border-radius: 100%;
  border: 8px solid white; 
}
header nav ul {
  list-style: none;
  text-transform: uppercase;
}   

header nav ul li {
  display: inline-block;
  padding: 30px 15px;
}
header nav ul li:hover{
  background-color: red;
  color: white;
  padding: 10px 15px;
  transition: 0.5s;
  cursor: pointer;
}
header nav a {
  color: #fff;
}

.informacoes { 
  display: flex;
}
main img{
width: 30%;
}

footer {
background-color: black;
color: #fff;
font-weight: bold;
display: flex;
justify-content: center;
padding: 25px;
text-align: center;
}

footer h3 {
text-transform: uppercase;
}

footer ul li {
margin-top: 5px;
}

.links_sociais {
display: flex;
margin-top: 25px;
}
.links_sociais{
  width: 30px;
}

.links_sociais li{
  list-style: none;
  padding: 0 25px;
}

